.results-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  justify-content: space-between;
  width: 100%;
  grid-row-gap: 2em;
}

.custom-search-wrapper {
  display: flex;
  width: 100%;
}

.search-wrapper {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: space-around;
}

h3.nomore {
  position: absolute;
  bottom: 50px;
  left: 42%;
}

.search-wrapper select {
  display: block;
  width: 100%;
  color: black;
}

.results-wrapper a {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.results-wrapper img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

p.kw-below-img {
  color: black;
  font-size: 14px;
  margin-top: 1em;
}

.kw-card-container {
  padding: 2% 8%;
}

.results-wrapper * {
  color: black !important;
}

.kw-footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.results-wrapper a {
  position: relative;
}

.kw-content-wrapper {
  margin-bottom: 3em !important;
}

.kw-footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f7f7f7;
  border-top: 1px solid #c7c7c7;
  left: 0;
  font-size: 13px;
}

.kw-content-wrapper p {
  font-size: 13px;
}

.kw-footer-wrapper p {
  margin: 0 !important;
}

.kw-footer-wrapper {
  align-items: center;
  padding: 0.5em 5%;
}

.results-wrapper h3 {
  font-size: 24px;
}

p.kw-below-img {
  margin-bottom: 9px;
}

.results-wrapper {
  justify-content: center !important;
  grid-column-gap: 3%;
  margin: 4em 0;
}

input.search-input {
  background: 0;
  border: 0;
  outline: none;
  width: 80vw;
  max-width: 400px;
  font-size: 1.5em;
  transition: padding 0.3s 0.2s ease;
}

input.search-input:focus {
  padding-bottom: 5px;
}

input.search-input:focus + .line:after {
  transform: scaleX(1);
}

.field {
  position: relative;
}

.field .line {
  width: 100%;
  height: 3px;
  position: absolute;

  background: #bdc3c7;
}

.custom-search-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.featured-wrapper {
  width: 100%;
}

.field .line:after {
  content: " ";
  position: absolute;
  float: right;
  width: 100%;
  height: 3px;
  transform: scalex(0);
  transition: transform 0.3s ease;
  background: #1abc9c;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #00c46b;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00c46b transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.lds-ring {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 450px;
  z-index: 99;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.results-container {
  width: 100%;
}
